* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 24px;
    color: #333;
    font-family: 'Pacifico', cursive;
}

header p {
    font-size: 14px;
    color: #666;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: -10px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none !important;
    color: #333 !important;
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
    color: #3498db !important;
}

main {
    margin-bottom: 30px;
}

.hero-text h2 {
    font-size: 81px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

.content {
    padding: 20px 0;
}

.promo {
    display: flex;
    align-items: center;
}

.promo img {
    width: 50%;
    border-radius: 10px;
}

.promo-text {
    padding-left: 20px;
}

.promo-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.promo-text p {
    margin-bottom: 10px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    width: 300px;
    height: 50px;
    background: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    text-align: center;
    font-size: 25px;
}

.btn:hover {
    background: #2980b9;
}

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer-nav ul li {
    margin: 0 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #333;
}

.social-media a {
    margin: 0 10px;
    color: #333;
    font-size: 1.5em;
}

.payment-methods {
    font-size: 0.9em;
    color: #777;
}

.payment-methods i {
    margin-right: 5px;
}