.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;
    margin-top: 30px;
}

.product-name-category {
    text-align: left;
    margin-top: 100px;
    margin-left: 20px;
    
}

.product-name-category h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Garamond', serif;
}

.category {
    color: lightgray;
    margin-bottom: 20px;
    font-size: 18px;
}

.product-image {
    flex: 0 0 calc(40%);
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-buy {
    margin-top: 100px;
    text-align: left;
    margin-right: 20px;
}

.product-buy .price {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}



.buy {
    background-color: rgb(52, 52, 52);
    padding: 20px 100px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.buy:hover {
    background-color: rgb(32, 32, 32);
}

.product-buy p {
    margin: 5px 0;
}

.favourites {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.favourite-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 2em;
    margin-right: 10px;
}

.product-description,
.product-reviews {
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px; 
    text-align: left;
    border: 1px solid #000; 
    padding: 20px; 
}

.product-description p {
    font-size: 1.2em; 
}

.product-reviews {
    margin-top: 50px;
}

.product-reviews h3 {
    margin: 0;
    font-size: 2em;
    font-family: 'Garamond', serif;
    margin-bottom: 20px;
}

.product-reviews .review {
    margin-bottom: 50px;
}

.product-reviews .review h4 {
    margin: 0;
    font-size: 1.2em;
}
.product-reviews .review h4 span {
    margin: 0;
    font-size: 15px;
    color: gray;
    margin-left: 10px;
    font-style: italic;
}

.product-reviews .stars {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.product-reviews p {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.rating-stars i {
    font-size: 24px;
    color: lightgray;
    margin: 0 5px;
}

.rating-stars .rated {
    color: black;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-primary {
    background-color: #ff4d4d;
    border: none;
}

.btn-primary:hover {
    background-color: #cc0000;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.review-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
    border: none !important;
}

.review-button:hover {
    background-color: #0056b3;
    color: white !important;
}

